<template>
  <div class="mouse-demo"
       :style="{
          backgroundColor: `hsl(${Math.floor(360 * relativePosX)} ${Math.floor(100 * relativePosY)}% 50%)`
       }"
       @mousemove=" handleMousePosition">
    <p>
      {{xPos}} - {{yPos}}
    </p>
  </div>
</template>

<script>
export default {
  name: 'MouseHoverDemo',
  data: () => {
    return {
      xPos: 0,
      yPos: 0,
      relativePosY: 0,
      relativePosX: 0
    }
  },
  methods: {

    handleMousePosition(e) {
      this.xPos = e.clientX;
      this.yPos = e.clientY;
      this.calculatePercent();
    },

    calculatePercent() {
      const wrapper = document.querySelector('.mouse-demo');
      this.relativePosY =  (this.yPos  - (wrapper.offsetTop - window.scrollY)) / wrapper.clientHeight;
      this.relativePosX =  (this.xPos - wrapper.offsetLeft) / wrapper.clientWidth;
    }

    // 295 / 295 + 1200

  }
}
</script>

<style>

.mouse-demo {
  width: 100%;
  height: 400px;
  display: flex;
  border: 1px solid #eee;
}

</style>