<template>
  <div>
    <ul>
      <li>
        <a href="/basic">Basic components</a>
      </li>
      <li>
        <a href="/animation">Animation components</a>
      </li>
      <li>
        <a href="/form">Form components</a>
      </li>
      <li>
        <a href="/data">Data components</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'AlliNavigation',
  props: {},
  components: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  div {
    display: flex;
    height: 100px;
    top: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #eee;
    width: 100%;
  }

  a {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
  }

  ul {
    max-width: 1200px;
  }

  li {
    float: left;
    list-style-type: none;
    margin-right: 32px;
  }

</style>
