<template>

    <h1>Animation showcase</h1>

    <h2>Static CSS keyframes animation</h2>

    <div class="square"></div>

    <h2 style="margin-top: 100px">Some elements should appear conditionally and transition based on that</h2>

    <button @click="active = !active">
      Click me
    </button>

    <transition name="appear">
      <div v-if="active" class="appearance-block">
        <p>My text</p>
      </div>
    </transition>

    <h2 style="margin-top: 100px">mouse position animation on class attribute with calculation of hsl()</h2>

    <MousePosition></MousePosition>


</template>

<script>

import MousePosition from "@/components/animations/MousePosition";

export default {
  name: 'Animation',
  props: {},
  data: () => {
    return {
      active: false
    }
  },
  components: {
    MousePosition
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .square {
    width: 400px;
    height: 400px;
    background-color:red;
    animation: square 4s infinite;
  }

  @keyframes square {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(0.8) rotate(90deg);
      background-color: yellow;
    }
    100% {
      transform: scale(1) rotate(180deg);
      background-color: blue;
    }
  }

  .appearance-block {
    max-height: 300px;
    display: flex;
    margin-top: 32px;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 100%;
  }

  .appear-enter-active,
  .appear-leave-active {
    transition: opacity 0.5s ease;
  }

  .appear-enter-from,
  .appear-leave-to {
    opacity: 0;
  }

</style>
