<template>

    <h1>Reusable components</h1>

    <h2>Simple reusable buttons</h2>

    <AlliButton title="click me" />
    <AlliButton :primary="true" title="or me" />


    <h2>Simple list component with v-for</h2>

    <AlliList :items="['one item', 'second item', 'third item']"></AlliList>

    <h2>Image</h2>

    <AlliImage source="https://ichef.bbci.co.uk/news/976/cpsprodpb/12A9B/production/_111434467_gettyimages-1143489763.jpg" />

</template>

<script>
import AlliButton from "@/components/ui/AlliButton";
import AlliList from "@/components/ui/AlliList";
import AlliImage from "@/components/ui/AlliImage";

export default {
  name: 'Basic',
  props: {},
  components: {
    AlliList,
    AlliImage,
    AlliButton
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
