<template>
  <div>
    This proof of concept is written in VueJS
  </div>
</template>

<script>
export default {
  name: 'Home',
  props: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
