<template>
  <div id="app">

    <AlliNavigation />

    <div class="container">
      <router-view></router-view>
    </div>

  </div>
</template>

<script>


import AlliNavigation from "@/components/container/AlliNavigation";

export default {
  name: 'App',
  components: {
    AlliNavigation
  }
}
</script>




<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 160px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

</style>
