<template>
  <button class="primary" v-if="primary" @click="handleClick">
      {{title}}
  </button>
  <button class="secondary" v-else-if="!primary" @click="handleClick">
      {{title}}
  </button>
</template>

<script>

export default {
  name: 'AlliButton',
  props: {
    title: String,
    primary: Boolean
  },
  methods: {
    handleClick() {
      alert('my internal click');
    }
  }
}

</script>


<style scoped>
  button {
    padding: 12px 24px;
    border-radius: 3px;
    margin-bottom: 12px;
    display: block;
    outline: none;
    border: 0;
  }

  .primary {
    background-color: #00B04A;
  }

  .secondary {
    background-color: #00AF9B;
  }
</style>