<template>
  <img :src="source" :class="{'img--active': active}" @mouseleave="active = false" @mouseover="active = true">
</template>

<script>

export default {
  name: 'AlliImage',
  props: {
    source: String
  },
  data: () => {
    return {
      active: false
    }
  }
}

</script>


<style scoped>
  img {
    transition: 0.3s ease-in-out;
    width: 400px;
  }

  .img--active {
    transform: scale(1.2);
  }
</style>