<template>
  <ul>
    <li v-for="item in items" :key="item">
      <p>
        {{ item }}
      </p>
    </li>
  </ul>
</template>

<script>

export default {
  name: 'AlliList',
  props: {
    items: [String]
  }
}

</script>


<style scoped>

</style>